:root {
  
  --bg-1: white;
  --bg-2: #e8e8e8;     
  --bg-3: #cacaca;     
  --accent: #1A73E8;   
  --text: black;     
  --muted: #1f1c19;     
  --card: #1A73E8;      
}

body {
  color: black;
  margin: 0;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: var(--text);
  background: white;
}

.container {
  width: min(1200px, 90%);
  margin-inline: auto;
}

header,

nav {
  background-color: var(--bg-3);
}

footer {
  background: var(--bg-3);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.site-header .container,
.site-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.nav-link {
  color: var(--muted);
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: var(--accent);
}

/* Hero */
.hero {
  text-align: center;
  padding: 8rem 0 4rem;
  background: var(--bg-1)
}
.hero__title {
  font-size: clamp(2.5rem, 6vw, 5rem);
  color: black;
}
.hero__tagline {
  color: var(--muted);
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn--primary {
  background: var(--accent);
  color: white;
  font-weight: 700;
}
.btn--primary:hover {
  transform: translateY(-3px);
}

/* Features */
.features {
  padding: 4rem 0;
}
.features__images {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.feature-thumb {
  width: 25%;
  border-radius: var(--radius);
}
.features__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
.feature-card {
  background: var(--card);
  padding: 1.5rem;
  border-radius: 25px;
  text-align: center;
  transition: transform 0.3s ease;
  color: white;
}
.feature-card:hover {
  transform: translateY(-5px);
}
.feature-card__img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

/* Model Viewer */
.ar-section {
  padding: 4rem 0;
  text-align: center;
}
model-viewer {
  width: 100%;
  max-width: 1000px;
  height: 600px;
  background: transparent;
}

/* Hotspots */
.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: none;
  width: 45px;
  height: 39px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.Hotspot:hover {
  transform: scale(1.1);
}
.HotspotAnnotation {
  visibility: hidden;
  position: absolute;
  background: #fff;
  color: #111;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  width: 200px;
  text-align: left;
  font-size: 0.9rem;
}

.brand__img {
  width: 20px;
  height: auto;
}